<html>
    <head>
        <title>Signup Page</title>
        <link rel="stylesheet" href="/static/css/signup_login.css">
    </head>
    <body>
        <center><h1>Login Form</h1></center>
        <form action="#" method="post">
            {% csrf_token %}
            <center><div class="container">
                <div class="imgcontainer">
                    <img src="/static/IMG/avatar_img1.jpg" alt="Avatar" class="login">
                </div>
                <label for ='email'><b>UserEmail :  </b></label>
                <input type="email" placeholder="Enter email" name="email" float="right"  required><br>  
                <label for='password'><b>Password : </b></label>
                <input type="password" placeholder="Enter Password" name="password" required><br>  
                <label for='role' ><b>Role : </b></label>
		        <input type='radio' name='role' value='admin' required>
		        <label ><b>Admin</b></label>
		        <input type='radio' name='role' value='student' required>
		        <label ><b>Student</b></label><br>
                <button type="submit"><b>Login</b></button><br>     
                Don't have accounct <a href="{% url 'signup' %}"> register </a>
            </div></center>
        </form>
    </body>
</html>